<a href="https://colab.research.google.com/github/morenogabrielac/python-practice/blob/master/Arbol_car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('/content/car.csv', header = None)

In [18]:
data.columns = ['price', 'maintenance', 'n_doors', 'sapacity', 'size_lug', 'safety', 'class']

In [19]:
data.sample(3)

     price maintenance n_doors sapacity size_lug safety  class
1530   low         med       2     more    small    low  unacc
648   high         med       2        2    small    low  unacc
1144   med         med       4        4    small    med    acc

In [24]:
data.price.replace(('vhigh','high','med','low'),(4,3,2,1),inplace = True)
data.maintenance.replace(('vhigh','high','med','low'),(4,3,2,1),inplace = True)
data.n_doors.replace(('2','3','4','5more'),(1,2,3,4),inplace = True)
data.sapacity.replace(('2','4','more',),(1,2,3),inplace = True)
data.size_lug.replace(('small','med','big',),(1,2,3),inplace = True)
data.safety.replace(('low','med','high',),(1,2,3),inplace = True)

In [21]:
data['class'].replace(('unacc','acc','good','vgood'),(1,2,3,4), inplace = True)

In [25]:
data.head()

   price  maintenance  n_doors  sapacity  size_lug  safety  class
0      4            4        1         1         1       1      1
1      4            4        1         1         1       2      1
2      4            4        1         1         1       3      1
3      4            4        1         1         2       1      1
4      4            4        1         1         2       2      1

Recomendación de división de datos


*   80% aprendizaje
*   20% pruebas

In [37]:
from pandas.compat import numpy
dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:,6], dtype = 'S6')

assaray permite convertir un objeto iterable en un array permitiéndo especificar el tipo a aplicar

In [38]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [43]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [40]:
tr = tree.DecisionTreeClassifier(max_depth = 10)

In [44]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(max_depth=10)

In [45]:
y_pred = tr.predict(X_Test)

In [47]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'1',
       b'1', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [48]:
score = tr.score(X_Test, Y_Test)

In [49]:
print('Precisión: %0.4f'% (score))

Precisión: 0.9769